:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#ffffff, #161616);
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

table {
  width:500px;
  border-collapse: collapse;
  text-align: center;
}
