:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#ffffff, #161616);
}

#wrapper {
  width: 100%;
  text-align: center;
}

table {
  width:550px;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
